.feature .glyphicon{
	font-size:25px;}
h3{margin-top: 0px;
	padding-top: 0px;
	color:#007f00;	}
h1{color: #f53b3b;}
footer{background-color: #aaa}
body{padding-top: 40px;}
p{text-align: justify;}
